@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

code {
  font-family: 'Playfair Display', serif;
}


a:link { text-decoration: none; }

li{
  list-style: none;

}
li a {
  color: #FFCF33;
  padding: 19px;

}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
  background-color: black;
}

#navbar {
 position: sticky;
 top: 0;
 height: 50px;
 background-color: black;
}

nav {
  text-align: center;
  font-family: 'Playfair Display', serif;
  background-color: #1b1c1e;

}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
  
}

/* contact form */

.contactForm {
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-top: 20px;
  padding-bottom: 60px;
  background-image: url(./assets/photo/email.png);
  background-repeat: no-repeat;
  height: 500px;
  max-width: 100;
}

.mail{
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-top: 80px;
  font-weight: bold;
  font-size: 30px;

}
.connect {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  padding: 30px 0 20px;
}



/* About Section */
.aboutSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
 padding-top: 30px;
 font-family: 'Playfair Display', serif;
}

.aboutSec img {
    max-width: 70%;
    height: Auto;
    padding-bottom: 40px;
}

.bio {
  color: #2c2a2a;
  max-width: 70%;
  padding-bottom: 30px;
  font-size: 25px;
}
#intro{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 42px;
  padding-top: 70px;
}

/* portfolio  */
.proHeader {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  padding-top: 40px;
  font-size: 55px;

}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#portfolio img {
  border: 3px solid #1b1c1e;
  color: #1b1c1e;
}
/* resume styling  */
#titleSk {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
#resume {
  padding-top: 50px;
  font-family: 'Playfair Display', serif;

}
#resume li {
    list-style-type: circle;
    font-size: 20px;
}

#resume h1 {
font-size: 35px;
font-weight: bold;
}

/* HEADER DIV */
.headerIcon {
  font-size: 90px;
  padding: 20px;
  color: #FFCF33;
}
.hero {
	/* Layout Declrations */
	padding: 6em 0;
	/* Appearance Declrations */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/736x/37/45/83/3745833bafc62759a9e4e29b8da0011e.jpg');
	background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
  background-position: bottom;
  height: 750px;
  max-width: 100;
  text-align: center;

}

.hero-intro {
	/* Layout Declarations */
	margin-bottom: 0.1em;
	/* Typography Declarations */
	color: #FFFFFF;
  font-family: 'Playfair Display', serif;
	font-size: 2em;
  text-align: center;

}

.hero-heading {
	/* Layout Declarations */
	margin-top: -0.2em;
	/* Typography Declarations */
	color: #FFF1C2;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	text-shadow: 0px 3px 0px #FFCF33;
}

/* Footer */
footer {
  background-color: black;
  padding: 10px 0px ;
  font-family: 'Playfair Display', serif;
}
.socialMediaIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 35px;
  color: #FFCF33;
}
.endFt {
  text-align: center;
  padding: 15px 0px 0px ;
  color: #FFCF33;
}